<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome to MyArticle.com
			{% endblock %}
		</title>
		{# <link rel="stylesheet" href="../assets/styles/app.scss"/> #}
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset ('css/index.css')}}"/>

		{% endblock %}
		{% block javascripts %}
			{{
			encore_entry_script_tags("app")
			}}
		{% endblock %}
	</head>
	<body>
		<header>
			<ul class="navbar">
				<li class="">
					<a href="{{path('homepage')}}">HomePage</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{path('newAction')}}">Créer un Article</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li>
						<a href="{{path('app_logout')}}">logout</a>
					</li>
				{% else %}
					<li>
						<a href="{{path('app_login')}}">login</a>
					</li>
				{% endif %}

			</ul>
		</header>

		{% block body %}{% endblock %}
	</body>
</html>
